In [1]:
import os
from pdb import set_trace as breakpoint
# import json
# import pandas as pd
import pymongo
from dotenv import load_dotenv

In [2]:
# Load .env file to get credentials
load_dotenv()
MONGO_USER = os.getenv('MONGO_USER', default = 'OOPS')
MONGO_PASS = os.getenv('MONGO_PASS', default = 'OOPS')
MONGO_CLUSTER = os.getenv('MONGO_CLUSTER', default = 'OOPS')

In [3]:
connection_uri = F'mongodb+srv://{MONGO_USER}:{MONGO_PASS}@{MONGO_CLUSTER}retryWrites=true&w=majority'
client = pymongo.MongoClient(connection_uri)
db = client.test

In [64]:
# create database object
pet_col = db.pets_collection

#create document to store in database
test_post = {
    'my_pet': {'name':'Ferdinand', 'age':1}
}

In [65]:
# insert document into database
result = pet_col.insert_one(test_post)

In [66]:
#verify insertion
result.acknowledged

True

In [67]:
# see where the document is stored
result.inserted_id

ObjectId('5fb4c7fdb46cf163d775bf27')

In [68]:
# print all documents in collection
for i in pet_col.find():
    print(i)

{'_id': ObjectId('5fb4bc17b46cf163d775bf21'), 'my_pet': {'name': 'Jo', 'age': 1}}
{'_id': ObjectId('5fb4c0ccb46cf163d775bf22'), 'my_pet': {'age': 0}}
{'_id': ObjectId('5fb4c0ccb46cf163d775bf23'), 'my_pet': {'age': 1}}
{'_id': ObjectId('5fb4c0ccb46cf163d775bf24'), 'my_pet': {'age': 2}}
{'_id': ObjectId('5fb4c0ccb46cf163d775bf25'), 'my_pet': {'age': 3}}
{'_id': ObjectId('5fb4c0ccb46cf163d775bf26'), 'my_pet': {'age': 4}}
{'_id': ObjectId('5fb4c7fdb46cf163d775bf27'), 'my_pet': {'name': 'Ferdinand', 'age': 1}}

In [28]:
#accidentally ran too many times and created duplicate records, this deletes all records
# db.pets_collection.remove({})

In [69]:
for i in pet_col.find():
    print(i)

{'_id': ObjectId('5fb4bc17b46cf163d775bf21'), 'my_pet': {'name': 'Jo', 'age': 1}}
{'_id': ObjectId('5fb4c0ccb46cf163d775bf22'), 'my_pet': {'age': 0}}
{'_id': ObjectId('5fb4c0ccb46cf163d775bf23'), 'my_pet': {'age': 1}}
{'_id': ObjectId('5fb4c0ccb46cf163d775bf24'), 'my_pet': {'age': 2}}
{'_id': ObjectId('5fb4c0ccb46cf163d775bf25'), 'my_pet': {'age': 3}}
{'_id': ObjectId('5fb4c0ccb46cf163d775bf26'), 'my_pet': {'age': 4}}
{'_id': ObjectId('5fb4c7fdb46cf163d775bf27'), 'my_pet': {'name': 'Ferdinand', 'age': 1}}

In [70]:
# another way to look at documents
list(pet_col.find())

[{'_id': ObjectId('5fb4bc17b46cf163d775bf21'),
  'my_pet': {'name': 'Jo', 'age': 1}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf22'), 'my_pet': {'age': 0}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf23'), 'my_pet': {'age': 1}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf24'), 'my_pet': {'age': 2}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf25'), 'my_pet': {'age': 3}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf26'), 'my_pet': {'age': 4}},
 {'_id': ObjectId('5fb4c7fdb46cf163d775bf27'),
  'my_pet': {'name': 'Ferdinand', 'age': 1}}]

In [71]:
for i in range(0, 5):
    post = {'my_pet':{'age':i}}
    result = pet_col.insert_one(post)
    print(result.acknowledged)

True
True
True
True
True

In [72]:
list(pet_col.find())

[{'_id': ObjectId('5fb4bc17b46cf163d775bf21'),
  'my_pet': {'name': 'Jo', 'age': 1}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf22'), 'my_pet': {'age': 0}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf23'), 'my_pet': {'age': 1}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf24'), 'my_pet': {'age': 2}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf25'), 'my_pet': {'age': 3}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf26'), 'my_pet': {'age': 4}},
 {'_id': ObjectId('5fb4c7fdb46cf163d775bf27'),
  'my_pet': {'name': 'Ferdinand', 'age': 1}},
 {'_id': ObjectId('5fb4c826b46cf163d775bf28'), 'my_pet': {'age': 0}},
 {'_id': ObjectId('5fb4c826b46cf163d775bf29'), 'my_pet': {'age': 1}},
 {'_id': ObjectId('5fb4c826b46cf163d775bf2a'), 'my_pet': {'age': 2}},
 {'_id': ObjectId('5fb4c826b46cf163d775bf2b'), 'my_pet': {'age': 3}},
 {'_id': ObjectId('5fb4c826b46cf163d775bf2c'), 'my_pet': {'age': 4}}]

In [42]:
for i in pet_col.find({'my_pet.age':1}):
    print(i)

{'_id': ObjectId('5fb4bc17b46cf163d775bf21'), 'my_pet': {'name': 'Ferdinand', 'age': 1}}
{'_id': ObjectId('5fb4c0ccb46cf163d775bf23'), 'my_pet': {'age': 1}}

In [73]:
for i in pet_col.find({'my_pet.name':'Ferdinand'}):
    print(i)

{'_id': ObjectId('5fb4c7fdb46cf163d775bf27'), 'my_pet': {'name': 'Ferdinand', 'age': 1}}

In [82]:
# Can I add a name to one of the documents created with only an age?
# It can be done, but based on age.
# Is it possible to do so based on unique id?
# this changes the first instance which matches the initial criteria
# cannot specify that name field is missing entirely

pet_col.update({'my_pet.age':2},{'$set': {'my_pet.name':'Sioux'}})

{'n': 1,
 'nModified': 1,
 'opTime': {'ts': Timestamp(1605683492, 1), 't': 2},
 'electionId': ObjectId('7fffffff0000000000000002'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1605683492, 1),
  'signature': {'hash': b'\xee]\x16Fb])\x84\xe3\x8b\xd781z\x85\xf4\xfdY\x1dk',
   'keyId': 6894392562803539971}},
 'operationTime': Timestamp(1605683492, 1),
 'updatedExisting': True}

In [83]:
list(pet_col.find())

[{'_id': ObjectId('5fb4bc17b46cf163d775bf21'),
  'my_pet': {'name': 'Jo', 'age': 1}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf22'), 'my_pet': {'age': 0}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf23'), 'my_pet': {'age': 1}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf24'),
  'my_pet': {'age': 2, 'name': 'Sioux'}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf25'),
  'my_pet': {'age': 3, 'name': 'Cat'}},
 {'_id': ObjectId('5fb4c0ccb46cf163d775bf26'),
  'my_pet': {'age': 4, 'name': 'Smog'}},
 {'_id': ObjectId('5fb4c7fdb46cf163d775bf27'),
  'my_pet': {'name': 'Ferdinand', 'age': 1}},
 {'_id': ObjectId('5fb4c826b46cf163d775bf28'), 'my_pet': {'age': 0}},
 {'_id': ObjectId('5fb4c826b46cf163d775bf29'), 'my_pet': {'age': 1}},
 {'_id': ObjectId('5fb4c826b46cf163d775bf2a'), 'my_pet': {'age': 2}},
 {'_id': ObjectId('5fb4c826b46cf163d775bf2b'), 'my_pet': {'age': 3}},
 {'_id': ObjectId('5fb4c826b46cf163d775bf2c'), 'my_pet': {'age': 4}}]